h3 {

    text-align: center;

    font-size: 35px;

    color: black;

  }

  body {

    background-image: url(https://i.pinimg.com/736x/15/1e/99/151e99f73bc7629406867e7f68dbf058.jpg);
    /* background-image: url(https://www.shutterstock.com/image-photo/appearance-surface-poured-brownish-yellow-lubricant-2265694641); */

  }

  fieldset {

    background-color:  #dbc441;

    width: 600px;

    margin:auto;

    border-radius: 10px;

    background-blend-mode: multiply;

    opacity: 1.0;

    padding-bottom: 50px;

  }

  input {

    width: 500px;

    color: blue;

    border-radius: 5px;

    font-size: medium;

    

  }

  label {
    
    color:black;

    font-size: 20px;

  }

 

  #call {

    width: 200px;

    height: 35px;

    background-color: orange;        background-blend-mode: color;

    font-size: medium;

    display: block;

    margin-left: auto;

    margin-right: auto;

    font-weight: 600;

    border-radius: 5px;

  }